

/* @keyframes grow {
    from {
        font-size: 20px;

    }
    to{
        font-size: 60px;
    }
}

.myh1{
     animation-name: grow;
     animation-duration: 3s;
     animation-fill-mode: forwards;
} 
*/




.myh1{
    
    font-size: 50px;
    margin-top: 1rem;
    text-shadow: 20px;
    font-style: italic;
    color: rgb(49, 17, 87);
    text-transform: uppercase;
    text-shadow: 2px,2px,2px,#222;
    border-radius: 1rem;
    
}

.myh2{
    
    font-size: 50px;
    margin-top: 1rem;
    text-shadow: 20px;
    font-style: italic;
    color: rgb(53, 53, 53);
    text-transform: uppercase;
    text-shadow: 8px,8px,8px,#222;
    border-radius: 1rem;
    
}




/*  .myul{
    font-size: 30px;
    margin: 1rem;
    display: flex;
} */
.mycontainer
{ 
    text-shadow: slategray;
    margin-top: 2rem;
    width: 60%;
    height: auto;
    background-color: rgba(141, 141, 141, 0.507);
    color: white;

    
}
 /* .ul{
    font-weight: 200;
    font-size: x-large;
    margin-top: 2rem;
}
/*.myimg1{
    
    margin: 1rem;
    
}*/
h1, h2{
    text-align: center;
    color: rgb(37, 1, 83);
    font-family: sans-serif,arial;
}

/*  .sec2{
    margin-top: 1rem;
    width: 30%;
    background-color: rgb(47, 15, 231);
}
.sec3{
    height: 5rem;
    margin-top: 1rem;
    width: 30%;
    background-color: rgb(15, 235, 44);
}


.sec1{
    margin-top: 1rem;
    width: 30%;
    background-color: rgb(235, 15, 52);
}
*/

li{
    margin: 1rem;
    font-weight: bold;
}


/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) 
{
 .myh1 , .myh2
    {
      font-size: 30px;
      
    }
     
 .navbarmain
    {
       height: 70px;
    }
 .panel-footer
    {
    
      text-align: center;
    
    }


}



@media only screen and (min-width:769px)
{
    
    .rules{
        width: 200px;
    }
   .product-col1{
       margin-top: 100px;
       }
   .col1{
      margin-top: 100px;
   }
   col02{
      margin-top: 20rem;
   }
}


 /* .bottom{
    width: 80%;
    background-color: grey;
    
}
.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: rgb(165, 165, 165);
    border-top: 0;

}
.panel-footer div.row {
    margin-bottom: 35px;
}
#hours, #address {
    line-height: 2;

}
#hours > span, #address > span {
    font-size: 1.3rem;
}
#address{
    
    font-size: .8em;
    line-height: 1.8;
}
#testimonials p:nth-child(2){
    margin-top: 25px;
}
#testimonials {
    font-style: italic;
} */

/*.category-title span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
}*/
/* .category:hover{
    box-shadow: 0 1px 5px 1px #cccccc;
}


/* .myApp{
    background-color: #222;
    width: 70%;
    height: 500px;
     
     mask-position: center;
    }

/* .typogaphy{
    padding: 10px;
    margin: 10px;
    color: #cccccc;
    width: 80%;
    height: auto;
    background-color: #222;
}
 /* .p1{
    font-size: large;
}
.p2{
    font-size: medium;
}
.p3{
    font-size: small;
}
.p4{
    font-size: smaller;
}
.p5{
    font-size: x-small;
}
.fontstyle1{
    font-style: italic;
}

.fontstyle2{
    font-style: oblique;
}
.fontstyle3{
    font-style: initial;
}
*/
 .col1{
    background-color: lightslategray;
}

.col2{
    background-color: rgb(202, 35, 35);
}
.col3{
    background-color: mediumorchid;
}

.col4{
    background-color: rgb(52, 175, 41);
}
/*.col1, .col2, .col3, .col4{
    height: 50px;
    margin: 10px;
}*/